// Define variables for your color scheme

// Dark theme colours:
$dark-bg: #212540;
$dark-blue: #6d6ffc;
$dark-red: #d74571;
$dark-green: #36ab8f;

// Light theme colours:
$black: #000000;
$gray: #f1f1f3;
$blue: #418af2;
$red: #e94a76;
$green: #6ce798;
$orange: #f38f54;
$yellow: #E4DE18;

// Crypto Colors:
$ADA: #3CC8C8;
$ADX: #1B75BC;
$AE: #DE3F6B;
$AGI: #6916ff;
$AION: #00BFEC;
$AMB: #3c5be0;
$AMP: #2DAEE4;
$ANT: #2CD3E1;
$APPC: #fd875e;
$ARDR: #3C87C7;
$ARK: #F70000;
$ARN: #0092b5;
$AST: #0061ff;
$ATM: #346fce;
$BAT: #FF5000;
$BAY: #6356ab;
$BCC: #F7931C;
$BCD: #fcc339;
$BCH: #8dc351;
$BCN: #F04086;
$BCO: #2c76b7;
$BCPT: #404040;
$BDL: #E54C40;
$BELA: #13a0f6;
$BLCN: #2aabe4;
$BLK: #181818;
$BLOCK: #101341;
$BNB: #F3BA2F;
$BNT: #000D2B;
$BNTY: #fd7a3d;
$BPT: #0f63d8;
$BQ: #1D1D1D;
$BQX: #319E31;
$BTC: #F7931A;
$BTCD: #FF6600;
$BTCZ: #F8C24A;
$BTG: #EBA809;
$BTM: #504C4C;
$BTS: #35BAEB;
$BTX: #FB2EA3;
$BURST: #2d2d2d;
$CDN: #f70808;
$CDT: #272731;
$CLAM: #20c5d3;
$CLOAK: #ff3a00;
$CND: #383939;
$CNX: #4c6bae;
$CNY: #ff4314;
$CRED: #37e8a3;
$CRPT: #00bdcd;
$CVC: #3AB03E;
$DASH: #1C75BC;
$DAT: #2d9cdb;
$DATA: #E9570F;
$DBC: #5bc1d4;
$DCN: #136485;
$DCR: #2ED6A1;
$DENT: #666666;
$DGB: #006AD2;
$DGD: #F4D029;
$DLT: #f4ae95;
$DNT: #2c398f;
$DOGE: #C3A634;
$DRGN: #C91111;
$EBST: #1693d4;
$EDG: #2B1544;
$EDOGE: #0FACF3;
$ELF: #2b5ebb;
$ELIX: #00aded;
$ELLA: #396a28;
$EMC: #B49FFC;
$EMC2: #00CCFF;
$ENG: #2f2f2f;
$ENJ: #624dbf;
$EOS: #000000;
$ETC: #669073;
$ETH: #627EEA;
$ETHOS: #00FFBA;
$ETN: #23BEE2;
$ETP: #00A5FF;
$EUR: #0f8ff8;
$EVX: #044aac;
$EXMO: #347FFB;
$EXP: #ffaa5c;
$FAIR: #C99705;
$FCT: #417BA4;
$FIL: #42C1CA;
$FLDC: #c40e09;
$FLO: #2080a2;
$FTC: #27323a;
$FUEL: #4096d0;
$FUN: #F1385B;
$GAME: #98C01F;
$GBP: #bc3fe0;
$GBX: #1666af;
$GBYTE: #302C2C;
$GNO: #00A6C4;
$GNT: #001D57;
$GRC: #5411b3;
$GRS: #377E96;
$GTO: #7f27ff;
$GUP: #37DCD8;
$GVT: #16b9ad;
$GXS: #35A5F3;
$HPB: #1591ca;
$HSR: #56428E;
$HUC: #ffc018;
$HUSH: #292929;
$ICN: #4C6F8C;
$ICX: #1fc5c9;
$IGNIS: #f9c011;
$INS: #b2a3f6;
$IOP: #4cb8d1;
$IOST: #1c1c1c;
$JPY: #eac749;
$KCS: #0093DD;
$KIN: #005fff;
$KMD: #326464;
$KNC: #188C92;
$KRB: #00AEEF;
$LBC: #006149;
$LEND: #0fa9c9;
$LINK: #01a6fb;
$LKK: #9D01EB;
$LRC: #2ab6f6;
$LSK: #1B4574;
$LTC: #CBC6C6;
$LUN: #f55749;
$MAID: #5592D7;
$MANA: #BFB5AF;
$MCAP: #033B4A;
$MCO: #103F68;
$MED: #00b0ff;
$MIOTA: #242424;
$MKR: #1abc9c;
$MLN: #0B1529;
$MNX: #00ADEF;
$MONA: #F0DBB0;
$MTH: #104fca;
$MTL: #1E1F25;
$MUSIC: #FBBF02;
$NANO: #4A90E2;
$NAS: #222222;
$NAV: #7D59B5;
$NDZ: #622fba;
$NEBL: #50479E;
$NEO: #58BF00;
$NEOS: #e5f300;
$NGC: #f80000;
$NLC2: #f28f01;
$NLG: #2AB0FD;
$NMC: #186C9D;
$NXS: #4099CD;
$NXT: #008FBB;
$OAX: #164b79;
$OMG: #1A53F0;
$OMNI: #1c347a;
$OST: #bbdfd0;
$OX: #4392cd;
$PAC: #f8e42c;
$PART: #03E8B0;
$PASL: #00acff;
$PAY: #302C2C;
$PINK: #ed79aa;
$PIRL: #96b73d;
$PIVX: #5E4778;
$PLR: #00bfff;
$POE: #dcd6cc;
$POLY: #4c5a95;
$POT: #105B2F;
$POWR: #05BCA9;
$PPC: #3CB054;
$PPP: #348f8d;
$PPT: #152743;
$PRL: #1061e3;
$PURA: #333333;
$QASH: #1347E8;
$QIWI: #FF8C00;
$QLC: #610089;
$QSP: #454545;
$QTUM: #2E9AD0;
$R: #771a4e;
$RADS: #9d4bef;
$RCN: #3555f9;
$RDD: #E30613;
$RDN: #2A2A2A;
$REP: #602A52;
$REQ: #6CFCCD;
$RHOC: #CC1E46;
$RIC: #60e4dd;
$RISE: #f49352;
$RLC: #FFD800;
$RPX: #8d181b;
$RUB: #64d1ff;
$SALT: #1BEEF4;
$SAN: #2B77B3;
$SBD: #4ba2f2;
$SBERBANK: #48B254;
$SC: #00CBA0;
$SKY: #0072FF;
$SMART: #FAC000;
$SNGLS: #B30D23;
$SNT: #5B6DEE;
$SONM: #0b1c26;
$SPHTX: #00b098;
$SRN: #1c1c1c;
$START: #01aef0;
$STEEM: #4BA2F2;
$STORJ: #2683FF;
$STORM: #080d98;
$STRAT: #1387C9;
$SUB: #E53431;
$SYS: #0082c6;
$TAAS: #002342;
$TAU: #7b346e;
$TIX: #ef494d;
$TKN: #24DD7B;
$TNC: #ff439b;
$TNT: #ff4081;
$TRIG: #30c0f2;
$TRX: #000000;
$TZC: #374851;
$UBQ: #00EA90;
$USD: #6cde07;
$USDT: #26A17B;
$VEN: #15BDFF;
$VERI: #FF9933;
$VIA: #565656;
$VIBE: #338be5;
$VIVO: #408af1;
$VRC: #418bca;
$VTC: #35633E;
$WABI: #399b32;
$WAVES: #0155ff;
$WAX: #f89022;
$WTC: #08308F;
$XBC: #f7931a;
$XCP: #ED1650;
$XDN: #4f7aa2;
$XEM: #67B2E8;
$XLM: #14B6E7;
$XMG: #004a80;
$XMR: #FF6600;
$XMY: #ec1076;
$XP: #008200;
$XPA: #d002b4;
$XPM: #ffd81b;
$XRP: #00AAE4;
$XTZ: #A6E000;
$XUC: #25AAE3;
$XVC: #b50126;
$XVG: #00CBFF;
$XZC: #23B852;
$YOYOW: #21a5de;
$ZCL: #c87035;
$ZEC: #ECB244;
$ZEN: #F88900;
$ZIL: #49c1bf;
$ZRX: #302C2C;
