<div class="container">
  <h2>Allocations</h2>
  <div class="row">
    <div class="col-7">
      <%= render 'shared/allocations' %>
    </div>
    <div class="col-5">
      <h2>Allocation so far (max 100)</h2>
    </div>
  </div>
</div>
