<div class="container">
  <div class="allocations">
    <div class="row">
      <div class="col-4">
        <h2 class="text-center">Allocations</h2>
        <%= render 'shared/allocations' %>
      </div>
      <div class="col-8">
        <div id="chart_div"></div>
      </div>
    </div>
  </div>
</div>
