.allocations {
  background-color: #f1f1f3;
  color: #000000;
  width: auto;
  padding: 0;
  border-radius: 25px;
  font-size: 13px;
  display: inline-grid;
}

.coin-container {
  max-width: 900px;
  margin: 0 auto;
}

.allocations p,h4 {
  padding: 10px 20px;
}

.num_input {
  border-bottom-left-radius: 75%;
  border-bottom-right-radius: 20px;
  text-align: center;
}

#allocations {
  font-size: 0.7rem;
  text-align: center;
}

#shares-cont {
}

#shares {
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  padding: 8px;
  margin: 0;
  color: white;
  font-size: 0.8rem;
  width:100%;
  transition: 1s;
  justify-content: space-around;
  display: flex;
}

#submit-alloc {
  width: 50%;
  margin: 0 auto;
}

#submit-alloc:disabled {
  width: 50%;
  margin: 0 auto;
  background-color: #bdb6ac6e;
  border: none;
  color: #8c888885;
}


.yellow {
  transition: 1s;
  background-color: #524b2a73;
}


.green {
  transition: 1s;
  background-color:$dark-green;
}

.red {
  transition: 1s;
  background-color:$dark-red;
}

#alloc_chart {
  height: 100px;
}

.allo-card {
  margin: 10px 0;
  background-color: white;
  width: 125px;
  border-radius: 20px;
  box-shadow: 4px 4px #d0d0d0a8;
}

.allo-title {
  font-size: 0.9rem;
  display: flex;
  position: relative;
  padding-left: 4px;
}

.allo-col {
  justify-content: center;
  display: flex;
}

.allo-title img {
  position: absolute;
  top: 2px;
  right: 5px;
}

.status-bar {
  background-color: $yellow;
  display: flex;
}

