.control-panel {

}

.header {
  width: 100vw;
  background-color: $blue;
  padding: 8px;
}

.dashboard {
  padding: 15px 5px;
  background-color: $gray;
}

.price-container {
  color: white;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 16px;
}

#chart_div {
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 0 auto;
}

.trigger {
  width: 160px;
  border-radius: 25px;
  margin: 8px;
}
