.header {
  padding-top: 10px;
}

.header p {
  margin: 0;
}

.next {
  background: #173055;
  text-align: center;
  padding: 5px 0;
  /* border: 2px solid #666692; */
  width: 400px;
  margin: 0 auto;
  color: #ffffffb0;
}

.dashboard {
  padding: 10px 5px;
}

.price-container {
  color: white;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 4px;
  position: relative;
}

.chart-holder {
  display: flex;
  padding-top: 30px;
  align-items: center;
}

#chart_div {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.trigger {
  width: 100px;
  border-radius: 25px;
  margin: 8px;
  text-align: center;
}

.refresh {
  border-radius: 25px;
  margin: 8px;
  text-align: center;
}

#guide {
  background-color: #ccecca6b;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ffffffd6;
  border: 1px solid #ffffff82;
}
