.header {
  background-color: #000000a6;
  padding-top: 10px;
}

.dashboard {
  padding: 10px 5px;
}

.price-container {
  color: white;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 4px;
}

#chart_div {
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 0 auto;
}

.trigger {
  width: 100px;
  border-radius: 25px;
  margin: 8px;
  text-align: center;
}

.refresh {
  border-radius: 25px;
  margin: 8px;
  text-align: center;
}
