<% unless flash[:success].nil? %>
  <div class="flash-success alert alert-dismissible fade show" role="alert">
    <a data-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
    <span><%= flash[:success] %></span>
  </div>
<% end %>

<% unless flash[:warning].nil? %>
  <div class="flash flash-warning alert alert-dismissible fade show" role="alert">
     <a data-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
    <span><%= flash[:warning] %></span>
  </div>
<% end %>

<% unless flash[:failure].nil? %>
  <div class="flash flash-danger alert alert-dismissible fade show" role="alert">
    <span><%= flash[:failure] %></span>
    <a data-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
<% end %>

