<%= simple_fields_for :allocations do |p| %>



  <% hash = {} %>


  <div class="form-group">
    <div class="row justify-content-center" id="listener">
      <% @coins = ['Bitcoin','Ethereum','Ripple','Bitcoin-Cash','Litecoin','EOS','Cardano','Tron','Stellar','Zcash'] %>
      <% @coins.each do |currency| %>
      <div class="col-lg-4 col-md-6 text-center">
        <%= p.label "#{currency} ", class: "input-control col-form-label" %>
        <%= number_field_tag "crypto[#{currency}]", nil, min: 0, max: 100, class: 'form-control num_input', onfocus: "this.oldvalue = this.value;", onchange: "onChangeTest(this);this.oldvalue = this.value;" %>

        <!-- <input type="number" name="crypto[<%#= currency %>]" value="0" class= "form-control num_input" id="<%#= currency %>"> -->
        <% hash[currency] = 0 %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>



<script>
  var sum = 0;
  var dataHash = {};
  var dataArray = [];
  // function onChangeTest(textbox) {
  //       alert("Value is " + textbox.value + "\n" + "Old Value is " + textbox.oldvalue);
  //   }
</script>

<!-- Page loads: show chart with labels but zero values -->
<!-- Everytime user enters a value in input, the chart updates with the new value -->
