<div class="container-home">
  <div id="landing-header">
    <h1>Crypto Balance</h1>
    <div id='btn-container'>
      <%= link_to 'Login', new_user_session_path %>
      <%= link_to 'Register', new_user_registration_path %>
    </div>
  </div>
</div>


