.alert {
  position: absolute;
  // padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 2px;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}


.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #43a57929;
  background-color: #54ff0652;
}

.flash-warning {
  border: 2px solid #b0b9386e;
  background-color: #e3e4bf82;
  color: #484e1c;
}

.flash-danger {
  border: 2px solid #af5b5d63;
  background-color: #f11b1ba8;
  color: #230606;
}

.alert-info {
  border: 2px solid #b0b9386e;
  background-color: #e3e4bf82;
  color: #484e1c;
}

.alert-dismissible .close {
  // padding: none;
}
